* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.search-content {
    width: 100%;
    padding-top: 15px;
    background-color: #e6e6e5;
}

/* Left section */
.text-area {
    width: 400px;
    height: 150px;
    display: inline-block;
    margin: 0 250px;
}

.text-area h2 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: #333;
}

.text-area p {
    font-size: 0.95rem;
    color: #716d6d;
    margin-bottom: 15px;
}

/* Search box styling */
.search-box {
    width: 310px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 8px;
    box-shadow: 0 2px 6px #0000001a;
}

.search-box input {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 5px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    color: #a1a1a1;
    font-size: 16px;
    text-align: center;
}

/* Right image area */
.image-area {
    display: inline-block;
    vertical-align: top;
}

.image-area img {
    width: 130px;
    height: auto;
}

/* Scroll (Price/Filter) */

.scroll-section {
    text-align: right;
    padding-top: 5px;
}

.scroll-section .scroll-content select{
    font-size: 14px;
    padding: 6px;
    border-radius: 6px;
    margin-right: 5px;
}

.span-type{
    text-align: left;
}

/* Products Cart */
.product-container {
  width: 100%;
  text-align: center; 
  margin-top: 20px;
}

/* Product card */
.product-card {
  display: inline-block;
  width: 180px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}


.product-name {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  height: 40px;
  overflow: hidden;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff6b35;
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 8px;
}

.stars {
  color: #ffc107;
  font-size: 14px;
  margin-bottom: 3px;
}

.rating-text {
  font-size: 12px;
  color: #666;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.add-button:hover {
  background-color: #218838;
}