* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: 0 70px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Logo */
.header .logo h1 {
    color: #e42020;
    font-size: 3.0rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}


/* Language & Sign In */
.language-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Language */
.language-selector select {
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 500;
    background-color: #0d0c0c;
    color: #ffff;
    opacity: 0.5;
}

.language-selector select:hover {
    border: 3px solid #ffff;
}

select option{
    background-color: #edebeb;
    color: #0d0c0c;
}

/* Sign In */
.language-selector button {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #e42020;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.language-selector button:hover {
    background-color: #9f0707;
}

/* First section Hero Banner */
.hero-section img {
    width: 100%;
    height: 100vh;
    background-color: #0d0c0c;
    opacity: 0.2;
}

.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff;
}

.middle h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.middle h3 {
    font-size: 1rem;
    padding-top: 10px;
}

.middle p {
    padding-top: 30px;
    font-size: 1rem;
    padding-bottom: 35px;
}

input[type="email"] {
    padding: 15px;
    width: 400px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 1rem;
    background: none;
    color: #dddada;
    font-size: 1.2rem;
}

input[type="email"]:hover{
    border: 2px solid white;
}

button {
    padding: 12px 30px;
    border: none;
    font-size: 1.3rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

/* Second section Card */
.container-card {
  padding: 20px 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.trending-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  position: relative;
  width: 150px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.08);
}

.rank {
  position: absolute;
  bottom: 10px;
  left: 9px;
  font-size: 4rem;
  font-weight: bold;
  color: #ffff;
  z-index: 2;
}

/* More reasons to join */
.shows-container {
  margin-top: 40px;
  padding: 0 20px 40px;
  text-align: center;
}

.shows {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.shows-card {
  background: linear-gradient(145deg, #1a1a2e, #111);
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 15px #00000099;
  transition: transform 0.3s ease;
}

.shows-card:hover {
  transform: translateY(-8px);
}

.shows-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.shows-card p {
  font-size: 14px;
  color: #ccc;
}

.shows-card span {
  display: block;
  margin-top: 15px;
  font-size: 28px;
}

/* Frequently Asked Questions */

.faq_container h2{
    color: #ffff;
    padding-left: 25px;
    margin-top: 20px;
}

.faq-item {
  margin-bottom: 8px;
  background-color: #2d2d2d;
  width: 1200px;
  margin: auto;
  margin-bottom: 5px;
}

.faq-question {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  border: none;
  color: #fff;
  font-size: 24px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}

.faq-question:hover {
  background-color: #414141;
}

.plus-icon {
  font-size: 36px;
  font-weight: 300;
  transition: transform 0.3s;
  line-height:1.5;
}

.email-form{
    margin-top: 20px;
    margin-left: 25%;
  margin-bottom: 30px;

}

.email-form p{
    color: #ffff;
}

.cta-section p{
    color: #ffff;
    margin-top: 80px;
    margin-left: 350px;
}

/* Footer */

.footer {
    background: #000;
    color: #999;
    padding: 40px 20px;
  }

  .footer p {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footer a {
    color: #999;
    text-decoration: underline;
    font-size: 14px;
  }

  .footer a:hover {
    color: #fff;
  }

  .footer-columns {
    width: 100%;
  }

  .footer-column {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 3%;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .language-select {
    margin-top: 20px;
  }

  .language-select select {
    padding: 6px 10px;
    background: #000;
    color: #fff;
    border: 1px solid #333;
  }

  .small-note {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
  }